// Global Styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
}

// Body Styles
body {
    width: 100vw;
    background: black;
    overflow-x: hidden;
}

// Custom Scrollbar Styles
::-webkit-scrollbar {
    z-index: -6;
    width: 15px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: gold;
    border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: darkred;
}

// Links Container
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Navigation Bar
nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid goldenrod;

    // Logo Image
    img {
        width: 120px;
        padding-inline: 20px;
        margin-right: auto;
    }

    // Navigation Links
    a {
        font-size: 24px;
        font-family: 'Bebas Neue';
        height: 100%;
        padding: 0 30px;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    // Hover Effect for Links
    a:hover {
        background-color: goldenrod;
    }

    // SVG Icons
    svg {
        fill: white;
    }

    // Gallery Link
    .gallery {
        margin-left: auto;
    }
}

// Sidebar Toggle Checkbox
#sidebar-active {
    display: none;
}

// Sidebar Toggle Buttons
.open-sidebar-button,
.close-sidebar-button {
    cursor: pointer;
    display: none;
}

// Sign-in/Log-in Container
.signlogcontainer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

// Hidden Elements
.hidden {
    display: none;
}

// Sign-in/Log-in Form
.signlog {
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    color: white;
    font-family: 'Poppins';
    padding: 100px;

    // Paragraph Text
    p {
        text-align: center;
        font-size: 14px;
    }

    // Error Messages
    #signup-error,
    #login-error {
        background-color: red;
        font-family: 'Bebas Neue';
        color: white;
        padding: 10px;
        font-size: 32px;
    }
}

// Form Container
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 100px;
}

// Form Heading
h2 {
    text-align: center;
    font-size: 64px;
    color: white;
    margin: 20px 0px;
    border-bottom: 10px solid gold;
}

// Input Fields
input[type="text"],
input[type="email"],
input[type="password"] {
    align-self: center;
    width: 700px;
    padding: 10px;
    font-size: 16px;
}

// Submit Button
.signlog button {
    padding: 10px;
    width: 700px;
    align-self: center;
    background-color: gold;
    color: white;
    border: none;
    font-size: 32px;
    font-family: 'Bebas Neue';
    cursor: pointer;
    transition: background-color 0.3s ease;
}

// Hover Effect for Button
.signlog button:hover {
    background-color: darkgoldenrod;
}

// Footer Styles
.footer {
    background-color: black;
    border-top: 10px solid gold;
    color: #e8eaed;
    text-align: center;

    // Footer Logo
    img {
        margin-top: 50px;
        width: 250px;
    }

    // Footer Text
    p {
        font-family: 'Poppins';
        font-size: 16px;
        margin: 50px;
    }
}

// Footer Content
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

// Footer Links
.footer-links {
    margin: 50px;

    // Link Styles
    a {
        color: #e8eaed;
        font-family: 'Bebas Neue';
        font-size: 24px;
        margin: 0 10px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }

    // Hover Effect for Links
    a:hover {
        text-decoration: underline;
        color: gold;
    }
}

// Media Queries for Responsive Design

// Tablet and Smaller Screens
@media screen and (width <=1024px) {

    // Responsive Links Container
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: black;
        transition: 0.75s ease-out;
    }

    // Responsive Navigation Links
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
        border-bottom: 2px solid goldenrod;
    }

    // Display Sidebar Toggle Buttons
    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    // Sidebar Active State
    #sidebar-active:checked~.links-container {
        right: 0;
    }

    // Overlay for Sidebar
    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
    }

    // Responsive Sign-in/Log-in Form
    .signlog {
        width: 100%;
    }

    // Responsive Form Container
    .form-container {
        padding: 50px;
    }

    // Responsive Input Fields
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        align-self: center;
        width: 500px;
    }

    // Responsive Submit Button
    .signlog button {
        width: 500px;
    }

    // Responsive Footer
    .footer {

        img {
            width: 200px;
        }

        p {
            font-size: 16px;
        }
    }

    // Responsive Footer Links
    .footer-links {
        a {
            font-size: 24px;
        }
    }

}

// Mobile Screens
@media screen and (width <=768px) {

    // Mobile Footer
    .footer {
        img {
            width: 150px;
        }

        p {
            font-size: 12px;
        }
    }

    // Mobile Footer Links
    .footer-links {
        a {
            font-size: 16px;
        }

    }
}

// Small Mobile Screens
@media screen and (width <=425px) {
    // Small Mobile Form Container
    .form-container {
        padding: 20px;

        h2 {
            font-size: 32px;
        }
    }

    // Small Mobile Input Fields
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 200px;
    }

    // Small Mobile Submit Button
    .signlog button {
        width: 200px;
    }

    // Small Mobile Footer
    .footer {
        img {
            width: 150px;
        }

        p {
            font-size: 12px;
        }
    }

    // Small Mobile Footer Links
    .footer-links {
        a {
            font-size: 24px;
        }
    }
}

// Extra Small Mobile Screens
@media screen and (width <=375px) {
    // Extra Small Mobile Form Container
    .form-container {
        padding: 15px;

        h2 {
            font-size: 32px;
        }
    }

    // Extra Small Mobile Footer
    .footer {
        img {
            width: 150px;
        }

        p {
            font-size: 12px;
        }
    }

    // Extra Small Mobile Footer Links
    .footer-links {
        a {
            font-size: 16px;
        }
    }
}