// Global Styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
}

// Body Styles
body {
    width: 100vw;
    background: black;
    overflow-x: hidden;
}

// Custom Scrollbar Styles
::-webkit-scrollbar {
    z-index: -6;
    width: 15px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: gold;
    border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: darkred;
}

// Links Container
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Navigation Bar
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid goldenrod;

    // Logo Image
    img {
        width: 120px;
        padding-inline: 20px;
        margin-right: auto;
    }

    // Navigation Links
    a {
        font-size: 24px;
        font-family: 'Bebas Neue';
        height: 100%;
        padding: 0 30px;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    // Hover Effect for Links
    a:hover {
        background-color: goldenrod;
    }

    // SVG Icons
    svg {
        fill: white;
    }

    // Gallery Link
    .gallery {
        margin-left: auto;
    }
}

// Sidebar Toggle Checkbox
#sidebar-active {
    display: none;
}

// Sidebar Toggle Buttons
.open-sidebar-button,
.close-sidebar-button {
    cursor: pointer;
    display: none;
}

// Home Section
#home {
    width: 100vw;
    height: 100vh;
    padding: 12px;
    margin: 0 auto;
    background-image: url('./assets/homeimg.avif');
    background-repeat: no-repeat;
    object-fit: cover;
}

// Home Content
.homecontent {
    display: grid;
    text-align: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.5);
    width: 1200px;
    margin: 20% auto;
    padding: 20px;
    border-top: 10px solid gold;

    h1 {
        margin-top: 25px;
        color: white;
        font-size: 156px;
        font-family: 'League Spartan';
        text-shadow: -12px 0px 4px #000000;
    }

    p {
        margin-top: 50px;
        margin-inline: 50px;
        color: white;
        font-size: 24px;
        font-family: 'Poppins';
        text-shadow: -2px 0px 2px #000000;
        text-align: justify;
    }

    button {
        margin: 50px 100px;
        padding: 20px;
        background-color: darkred;
        color: white;
        font-size: 36px;
        font-family: 'Bebas Neue';
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

// Animals Section
#animals {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

// Animals Content
.animalscontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Poppins';
    color: white;
    margin: 0 auto;
    padding: 100px;
    gap: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top: 20px solid gold;
        transition: all 0.3s ease-in-out;
        filter: blur(1.5px);
    }

    img:hover {
        transform: scale(1.02);
        filter: blur(0px);
    }

    .animalstext {
        padding: 20px;

        h1 {
            font-size: 128px;
            border-bottom: 10px solid gold;
            margin-bottom: 20px;
            text-align: justify;
        }

        p {
            font-size: 24px;
            text-align: justify;
        }
    }
}

// Environment Section
#environment {
    width: 100vw;
    padding: 100px;
    margin: 0% auto;
}

// Environment Text
.environmenttext {
    color: white;
    font-family: 'Poppins';
    margin-bottom: 100px;

    h1 {
        font-size: 128px;
        text-align: center;
        border-bottom: 10px solid gold;
        margin-bottom: 20px;
    }

    p {
        font-size: 48px;
        text-align: justify;
    }
}

// Environment Articles
.envarticles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    color: white;
    font-family: 'Poppins';
    gap: 20px;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-top: 10px solid gold;
    }

    a {
        font-family: 'League Spartan';
        font-weight: bolder;
        font-size: 32px;
        color: white;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
        background-color: darkred;
        padding: 20px;
    }
}

// Article Text
.articletext {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
    width: 100%;
    border-bottom: 10px solid gold;

    h2 {
        font-size: 24px;
        font-family: "Poppins";
        margin: 10px 0;
    }

    h1 {
        font-size: 36px;
        font-family: "League Spartan";
    }
}

// Environment Article 1
.envarticle1 {
    grid-row: span 2;
    grid-column: span 2;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom: 200px solid black;
    }

    .articletext {
        position: absolute;
        bottom: 0px;
        color: white;
        padding: 40px 0px;

        h2 {
            font-size: 24px;
            font-family: "Poppins";
            margin: 20px 0;
        }

        h1 {
            font-size: 36px;
            font-family: "League Spartan";
        }
    }
}

// Environment Articles 2 to 6
.envarticle2,
.envarticle3,
.envarticle4,
.envarticle5,
.envarticle6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// History and Culture Section
#history-culture {
    padding: 50px 100px;
    color: white;
    margin: 0 auto;

    h1 {
        font-size: 128px;
        font-family: 'League Spartan';
        border-bottom: 10px solid gold;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        font-family: 'Poppins';
        font-size: 48px;
        text-align: justify;
    }
}

// History Slider Container
.hcontainer {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    :before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// History Slider
.historyslider {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    overflow: hidden;
}

// History Slide
.hslide {
    width: 25%;
    height: 100%;
    cursor: pointer;
    transform: width 0.4%;
    box-shadow: 0px 0px 12px 12px rgba(255, 217, 0, 0.2);
    transition: width 0.4s ease;
}

// Individual History Slides
.hslide:nth-child(1) {
    background: url('./assets/history1.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.hslide:nth-child(2) {
    background: url('./assets/history2.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.hslide:nth-child(3) {
    background: url('./assets/history3.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.hslide:nth-child(4) {
    background: url('./assets/history4.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.hslide:nth-child(5) {
    background: url('./assets/history5.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

// Hover Effect for History Slides
.hslide:hover {
    width: 70%;
}

// Science Section
#science {
    width: 100vw;
    padding: 100px;
    margin: 0% auto;
}

// Science Text
.sciencetext {
    color: white;
    font-family: 'Poppins';
    margin-bottom: 100px;

    h1 {
        font-size: 128px;
        text-align: center;
        border-bottom: 10px solid gold;
        margin-bottom: 20px;
    }

    p {
        font-size: 48px;
        text-align: justify;
    }
}

// Science Videos
.scivids {
    position: relative;
    width: 100%;
    height: 100vh;
}

// Video Slider
#vidslider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Science Navigation
.scivids .scinav {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        list-style: none;
        cursor: pointer;
        margin: 0 10px;
        padding: 3px 3px 0;
        opacity: 0.7;
        border: solid 2px gold;
        transition: 0.5s;

        li:hover {
            opacity: 1;
        }

        img {
            width: 200px;
            transition: 0.5s;
        }

        img:hover {
            width: 300px;
        }
    }
}

// Travel Section
#travel {
    padding: 100px 100px;
    color: white;
    margin: 0 auto;

    h1 {
        font-size: 128px;
        font-family: 'League Spartan';
        border-bottom: 10px solid gold;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        font-family: 'Poppins';
        font-size: 48px;
        text-align: justify;
    }
}

// Travel Grid
.travelgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 50px auto;
    gap: 20px;
    overflow: hidden;

    img {
        width: 100%;
        height: 700px;
        object-fit: cover;
        transition: all 0.2s ease-in;
        border-top: 20px solid gold;
    }

    img:hover {
        transform: scale(1.02);
    }
}

// Travel Card
.travcard {
    position: relative;
    display: inline-block;
    font-family: 'Poppins';
    text-align: center;

    h3 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 48px;
        text-shadow: 2px 2px 4px black;
        z-index: 2;
    }

    button {
        position: absolute;
        top: 80%;
        left: 50%;
        border: none;
        padding: 15px 30px;
        transform: translateX(-50%);
        font-size: 24px;
        font-family: 'Bebas Neue';
        background-color: darkred;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
}

// Footer Styles
.footer {
    background-color: black;
    border-top: 10px solid gold;
    color: #e8eaed;
    text-align: center;

    img {
        margin-top: 50px;
        width: 250px;
    }

    p {
        font-family: 'Poppins';
        font-size: 16px;
        margin: 50px;
    }
}

// Footer Content
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

// Footer Links
.footer-links {
    margin: 50px;

    a {
        color: #e8eaed;
        font-family: 'Bebas Neue';
        font-size: 24px;
        margin: 0 10px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        text-decoration: underline;
        color: gold;
    }
}

// Media Queries for Responsive Design

// Tablet and Smaller Screens
@media screen and (width <=1024px) {

    // Responsive Links Container
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: black;
        transition: 0.75s ease-out;
    }

    // Responsive Navigation Links
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
        border-bottom: 2px solid goldenrod;
    }

    // Display Sidebar Toggle Buttons
    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    // Sidebar Active State
    #sidebar-active:checked~.links-container {
        right: 0;
    }

    // Overlay for Sidebar
    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
    }

    // Responsive Home Content
    .homecontent {
        width: 800px;
        margin: 20% auto;

        h1 {
            margin-top: 25px;
            font-size: 72px;
        }

        p {
            margin-top: 25px;
            margin-inline: 50px;
            font-size: 32px;
        }

        button {
            margin: 25px 100px;
        }
    }

    // Responsive Animals Content
    .animalscontent {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        padding: 50px;

        img {
            filter: blur(0px);
        }

        .animalstext {
            padding: 20px;
            grid-column-start: 1;
            grid-row-start: 1;

            h1 {
                font-size: 96px;
                text-align: center;
            }

            p {
                font-size: 32px;
            }
        }
    }

    // Responsive Environment Section
    #environment {
        padding: 50px;
    }

    .environmenttext {
        h1 {
            font-size: 96px;
        }

        p {
            font-size: 32px;
        }
    }

    .envarticles {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
    }

    .envarticle1 {
        display: none;
    }

    .articletext {
        h2 {
            font-size: 16px;
        }

        h1 {
            font-size: 32px;
        }
    }

    // Responsive History and Culture Section
    #history-culture {
        padding: 50px;

        h1 {
            font-size: 96px;
        }

        p {
            font-size: 32px;
        }
    }

    .hslide:hover {
        width: 100%;
    }

    // Responsive Science Section
    #science {
        padding: 50px;
    }

    .sciencetext {
        h1 {
            font-size: 96px;
        }

        p {
            font-size: 32px;
        }
    }

    .scivids .scinav {
        li {
            img {
                width: 150px;
                transition: 0.5s;
            }

            img:hover {
                width: 200px;
            }
        }
    }

    // Responsive Travel Section
    #travel {
        padding: 50px;

        h1 {
            font-size: 96px;
        }

        p {
            font-size: 32px;
        }
    }

    .travelgrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 50px auto;

        img {
            height: 700px;
        }
    }

    .travcard:nth-child(9) {
        display: none;
    }

    // Responsive Footer
    .footer {
        img {
            width: 200px;
        }
    
        p {
            font-size: 16px;        
        }
    }
    
    .footer-links {    
        a {
            font-size: 24px;
        }
    }
}

// Mobile Screens
@media screen and (width <=768px) {

    // Mobile Home Section
    #home {
        width: 100vw;
        height: 100vh;
        padding: 12px;
        margin: 0 auto;
        background-image: url('./assets/homeimg.avif');
        background-repeat: no-repeat;
        object-fit: cover;
    }

    .homecontent {
        width: 70vw;
        margin: 20vh auto;
        padding: 20px;

        h1 {
            margin-top: 25px;
            font-size: 64px;
        }

        p {
            margin-top: 50px;
            margin-inline: 10px;
            font-size: 24px;
        }

        button {
            margin: 25px 50px;
        }
    }

    // Mobile Animals Content
    .animalscontent {
        .animalstext {
            h1 {
                font-size: 64px;
            }

            p {
                font-size: 24px;
            }
        }
    }

    // Mobile Environment Section
    #environment {
        padding: 50px;
    }

    .environmenttext {
        h1 {
            font-size: 64px;
        }

        p {
            font-size: 24px;
        }
    }

    // Mobile History and Culture Section
    #history-culture {
        padding: 50px;

        h1 {
            font-size: 64px;
        }

        p {
            font-size: 24px;
        }
    }

    // Mobile Science Section
    #science {
        padding: 50px;
    }

    .sciencetext {
        h1 {
            font-size: 64px;
        }

        p {
            font-size: 24px;
        }
    }

    .scivids .scinav {
        li {
            img {
                width: 100px;
                transition: 0.5s;
            }

            img:hover {
                width: 150px;
            }
        }
    }

    // Mobile Travel Section
    .travelgrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .travcard:nth-child(9) {
        display: none;
    }

    // Mobile Footer
    .footer {
        img {
            width: 150px;
        }
    
        p {
            font-size: 12px;        
        }
    }
    
    .footer-links {    
        a {
            font-size: 16px;
        }
    }
}

// Small Mobile Screens
@media screen and (width <=425px) {

    // Small Mobile Home Content
    .homecontent {
        width: 90vw;
        margin: 20vh auto;
        padding: 10px;

        h1 {
            margin: 25px 0px;
            font-size: 48px;
        }

        p {
            margin: 25px 0px;
            margin-inline: 10px;
            font-size: 16px;
        }

        button {
            font-size: 36px;
            margin: 25px 10px;
        }
    }

    // Small Mobile Animals Content
    .animalscontent {
        padding: 20px;
        .animalstext {
            padding: 0;

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    // Small Mobile Environment Section
    #environment {
        width: 100vw;
        padding: 20px;
    }
    
    .environmenttext {
        padding: 0px;
        color: white;
        margin-top: 50px;
        margin-bottom: 50px;
    
        h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }
    
        p {
            font-size: 16px;
        }
    }
    
    .envarticles {
        img {
            height: 500px;
        }
    
        a {
            font-size: 24px;
            padding: 20px;
        }
    }
    
    .articletext {
        padding: 20px 0px;
        border-bottom: 10px solid gold;
    
        h2 {
            font-size: 21px;
            margin: 10px 0;
        }
    
        h1 {
            font-size: 36px;
        }
    }
    
    // Small Mobile History and Culture Section
    #history-culture {
        padding: 20px;
        margin: 50px 0px;

        h1 {
            margin: 20px 0;
            font-size: 48px;
        }

        p {
            font-size: 16px;
        }
    }

    .historyslider {
        width: 100%;
        height: 400px;
    }

    .hcontainer {
        margin: 50px 0px;
        height: 100%;
    }

    // Small Mobile Science Section
    #science {
        padding: 20px;
    }

    .sciencetext {
        margin: 50px 0px;

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 16px;
        }
    }

    .scivids {
        height: 75vh;
    }

    .scivids .scinav {
        li {
            img {
                width: 50px;
            }

            img:hover {
                width: 60px;
            }
        }
    }

    // Small Mobile Travel Section
    #travel {
        margin: 50px 0px;
        padding: 20px;

        h1 {
            font-size: 48px;
        }

        P {
            font-size: 16px;
        }
    }

    .travcard {
        h3 {
            font-size: 36px;
        }
    }

    .travelgrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

        img {
            height: 500px;
        }
    }

    .travcard:nth-child(9) {
        display: none;
    }

    // Small Mobile Footer
    .footer {
        img {
            width: 200px;
        }
    
        p {
            font-size: 16px;        
        }
    }
    
    .footer-links {    
        a {
            font-size: 24px;
        }
    }
}

// Extra Small Mobile Screens
@media screen and (width <=375px) {

    // Extra Small Mobile Home Content
    .homecontent {
        width: 90vw;
        margin: 20vh auto;
        padding: 10px;

        h1 {
            margin: 25px 0px;
            font-size: 36px;
        }

        p {
            margin: 25px 0px;
            margin-inline: 10px;
            font-size: 14px;
        }

        button {
            font-size: 24px;
            margin: 15px 5px;
        }
    }

    // Extra Small Mobile Animals Content
    .animalscontent {
        padding: 1ch;

        .animalstext {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    // Extra Small Mobile Environment Section
    #environment {
        padding: 10px;
    }
    
    .environmenttext {
        padding: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
    
        h1 {
            font-size: 36px;
            text-align: center;
            border-bottom: 10px solid gold;
            margin-bottom: 20px;
        }
    
        p {
            font-size: 12px;
            text-align: justify;
        }
    }
    
    .envarticles {
        img {
            height: 250px;
        }
    
        a {
            font-size: 16px;
            padding: 10px;
        }
    }
    
    .articletext {
        padding: 10px 0px;    

        h2 {
            font-size: 12px;
        }
    
        h1 {
            font-size: 24px;
        }
    }
    
    // Extra Small Mobile History and Culture Section
    #history-culture {
        padding: 10px;
        margin: 25px 0px;

        h1 {
            margin: 20px 0;
            font-size: 36px;
        }

        p {
            font-size: 12px;
        }
    }

    .historyslider {
        height: 300px;
    }

    .hcontainer {
        margin: 25px 0px;
    }

    // Extra Small Mobile Science Section
    #science {
        padding: 10px;
    }

    .sciencetext {
        margin: 25px 0px;

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 12px;
        }
    }

    .scivids {
        height: 50vh;
    }

    .scivids .scinav {
        li {
            img {
                width: 40px;
            }

            img:hover {
                width: 45px;
            }
        }
    }

    // Extra Small Mobile Travel Section
    #travel {
        margin: 25px 0px;
        padding: 10px;

        h1 {
            font-size: 36px;
        }

        P {
            font-size: 12px;
        }
    }

    .travelgrid {
        img {
            height: 450px;
        }
    }

    .travcard {
        h3 {
            font-size: 36px;
        }
    }

    // Extra Small Mobile Footer
    .footer {
        img {
            width: 150px;
        }
    
        p {
            font-size: 12px;        
        }
    }
    
    .footer-links {    
        a {
            font-size: 16px;
        }
    }
}