* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
}

body {
  width: 100vw;
  background: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  z-index: -6;
  width: 15px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: gold;
  border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: darkred;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid goldenrod;
}
nav img {
  width: 120px;
  padding-inline: 20px;
  margin-right: auto;
}
nav a {
  font-size: 24px;
  font-family: "Bebas Neue";
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  background-color: goldenrod;
}
nav svg {
  fill: white;
}
nav .gallery {
  margin-left: auto;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  cursor: pointer;
  display: none;
}

#home {
  width: 100vw;
  height: 100vh;
  padding: 12px;
  margin: 0 auto;
  background-image: url("./assets/homeimg.avif");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.homecontent {
  display: grid;
  text-align: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  width: 1200px;
  margin: 20% auto;
  padding: 20px;
  border-top: 10px solid gold;
}
.homecontent h1 {
  margin-top: 25px;
  color: white;
  font-size: 156px;
  font-family: "League Spartan";
  text-shadow: -12px 0px 4px #000000;
}
.homecontent p {
  margin-top: 50px;
  margin-inline: 50px;
  color: white;
  font-size: 24px;
  font-family: "Poppins";
  text-shadow: -2px 0px 2px #000000;
  text-align: justify;
}
.homecontent button {
  margin: 50px 100px;
  padding: 20px;
  background-color: darkred;
  color: white;
  font-size: 36px;
  font-family: "Bebas Neue";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#animals {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.animalscontent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: "Poppins";
  color: white;
  margin: 0 auto;
  padding: 100px;
  gap: 20px;
}
.animalscontent img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 20px solid gold;
  transition: all 0.3s ease-in-out;
  filter: blur(1.5px);
}
.animalscontent img:hover {
  transform: scale(1.02);
  filter: blur(0px);
}
.animalscontent .animalstext {
  padding: 20px;
}
.animalscontent .animalstext h1 {
  font-size: 128px;
  border-bottom: 10px solid gold;
  margin-bottom: 20px;
  text-align: justify;
}
.animalscontent .animalstext p {
  font-size: 24px;
  text-align: justify;
}

#environment {
  width: 100vw;
  padding: 100px;
  margin: 0% auto;
}

.environmenttext {
  color: white;
  font-family: "Poppins";
  margin-bottom: 100px;
}
.environmenttext h1 {
  font-size: 128px;
  text-align: center;
  border-bottom: 10px solid gold;
  margin-bottom: 20px;
}
.environmenttext p {
  font-size: 48px;
  text-align: justify;
}

.envarticles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  color: white;
  font-family: "Poppins";
  gap: 20px;
}
.envarticles img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 10px solid gold;
}
.envarticles a {
  font-family: "League Spartan";
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  background-color: darkred;
  padding: 20px;
}

.articletext {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  width: 100%;
  border-bottom: 10px solid gold;
}
.articletext h2 {
  font-size: 24px;
  font-family: "Poppins";
  margin: 10px 0;
}
.articletext h1 {
  font-size: 36px;
  font-family: "League Spartan";
}

.envarticle1 {
  grid-row: span 2;
  grid-column: span 2;
  position: relative;
}
.envarticle1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 200px solid black;
}
.envarticle1 .articletext {
  position: absolute;
  bottom: 0px;
  color: white;
  padding: 40px 0px;
}
.envarticle1 .articletext h2 {
  font-size: 24px;
  font-family: "Poppins";
  margin: 20px 0;
}
.envarticle1 .articletext h1 {
  font-size: 36px;
  font-family: "League Spartan";
}

.envarticle2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.envarticle3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.envarticle4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.envarticle5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.envarticle6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#history-culture {
  padding: 50px 100px;
  color: white;
  margin: 0 auto;
}
#history-culture h1 {
  font-size: 128px;
  font-family: "League Spartan";
  border-bottom: 10px solid gold;
  margin-bottom: 20px;
  text-align: center;
}
#history-culture p {
  font-family: "Poppins";
  font-size: 48px;
  text-align: justify;
}

.hcontainer {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hcontainer :before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.historyslider {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
}

.hslide {
  width: 25%;
  height: 100%;
  cursor: pointer;
  transform: width 0.4%;
  box-shadow: 0px 0px 12px 12px rgba(255, 217, 0, 0.2);
  transition: width 0.4s ease;
}

.hslide:nth-child(1) {
  background: url("./assets/history1.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hslide:nth-child(2) {
  background: url("./assets/history2.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hslide:nth-child(3) {
  background: url("./assets/history3.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hslide:nth-child(4) {
  background: url("./assets/history4.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hslide:nth-child(5) {
  background: url("./assets/history5.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hslide:hover {
  width: 70%;
}

#science {
  width: 100vw;
  padding: 100px;
  margin: 0% auto;
}

.sciencetext {
  color: white;
  font-family: "Poppins";
  margin-bottom: 100px;
}
.sciencetext h1 {
  font-size: 128px;
  text-align: center;
  border-bottom: 10px solid gold;
  margin-bottom: 20px;
}
.sciencetext p {
  font-size: 48px;
  text-align: justify;
}

.scivids {
  position: relative;
  width: 100%;
  height: 100vh;
}

#vidslider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scivids .scinav {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scivids .scinav li {
  list-style: none;
  cursor: pointer;
  margin: 0 10px;
  padding: 3px 3px 0;
  opacity: 0.7;
  border: solid 2px gold;
  transition: 0.5s;
}
.scivids .scinav li li:hover {
  opacity: 1;
}
.scivids .scinav li img {
  width: 200px;
  transition: 0.5s;
}
.scivids .scinav li img:hover {
  width: 300px;
}

#travel {
  padding: 100px 100px;
  color: white;
  margin: 0 auto;
}
#travel h1 {
  font-size: 128px;
  font-family: "League Spartan";
  border-bottom: 10px solid gold;
  margin-bottom: 20px;
  text-align: center;
}
#travel p {
  font-family: "Poppins";
  font-size: 48px;
  text-align: justify;
}

.travelgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 50px auto;
  gap: 20px;
  overflow: hidden;
}
.travelgrid img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in;
  border-top: 20px solid gold;
}
.travelgrid img:hover {
  transform: scale(1.02);
}

.travcard {
  position: relative;
  display: inline-block;
  font-family: "Poppins";
  text-align: center;
}
.travcard h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  text-shadow: 2px 2px 4px black;
  z-index: 2;
}
.travcard button {
  position: absolute;
  top: 80%;
  left: 50%;
  border: none;
  padding: 15px 30px;
  transform: translateX(-50%);
  font-size: 24px;
  font-family: "Bebas Neue";
  background-color: darkred;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.footer {
  background-color: black;
  border-top: 10px solid gold;
  color: #e8eaed;
  text-align: center;
}
.footer img {
  margin-top: 50px;
  width: 250px;
}
.footer p {
  font-family: "Poppins";
  font-size: 16px;
  margin: 50px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin: 50px;
}
.footer-links a {
  color: #e8eaed;
  font-family: "Bebas Neue";
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.footer-links a:hover {
  text-decoration: underline;
  color: gold;
}

@media screen and (width <= 1024px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: black;
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    border-bottom: 2px solid goldenrod;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
  }
  .homecontent {
    width: 800px;
    margin: 20% auto;
  }
  .homecontent h1 {
    margin-top: 25px;
    font-size: 72px;
  }
  .homecontent p {
    margin-top: 25px;
    margin-inline: 50px;
    font-size: 32px;
  }
  .homecontent button {
    margin: 25px 100px;
  }
  .animalscontent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    padding: 50px;
  }
  .animalscontent img {
    filter: blur(0px);
  }
  .animalscontent .animalstext {
    padding: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .animalscontent .animalstext h1 {
    font-size: 96px;
    text-align: center;
  }
  .animalscontent .animalstext p {
    font-size: 32px;
  }
  #environment {
    padding: 50px;
  }
  .environmenttext h1 {
    font-size: 96px;
  }
  .environmenttext p {
    font-size: 32px;
  }
  .envarticles {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
  }
  .envarticle1 {
    display: none;
  }
  .articletext h2 {
    font-size: 16px;
  }
  .articletext h1 {
    font-size: 32px;
  }
  #history-culture {
    padding: 50px;
  }
  #history-culture h1 {
    font-size: 96px;
  }
  #history-culture p {
    font-size: 32px;
  }
  .hslide:hover {
    width: 100%;
  }
  #science {
    padding: 50px;
  }
  .sciencetext h1 {
    font-size: 96px;
  }
  .sciencetext p {
    font-size: 32px;
  }
  .scivids .scinav li img {
    width: 150px;
    transition: 0.5s;
  }
  .scivids .scinav li img:hover {
    width: 200px;
  }
  #travel {
    padding: 50px;
  }
  #travel h1 {
    font-size: 96px;
  }
  #travel p {
    font-size: 32px;
  }
  .travelgrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 50px auto;
  }
  .travelgrid img {
    height: 700px;
  }
  .travcard:nth-child(9) {
    display: none;
  }
  .footer img {
    width: 200px;
  }
  .footer p {
    font-size: 16px;
  }
  .footer-links a {
    font-size: 24px;
  }
}
@media screen and (width <= 768px) {
  #home {
    width: 100vw;
    height: 100vh;
    padding: 12px;
    margin: 0 auto;
    background-image: url("./assets/homeimg.avif");
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .homecontent {
    width: 70vw;
    margin: 20vh auto;
    padding: 20px;
  }
  .homecontent h1 {
    margin-top: 25px;
    font-size: 64px;
  }
  .homecontent p {
    margin-top: 50px;
    margin-inline: 10px;
    font-size: 24px;
  }
  .homecontent button {
    margin: 25px 50px;
  }
  .animalscontent .animalstext h1 {
    font-size: 64px;
  }
  .animalscontent .animalstext p {
    font-size: 24px;
  }
  #environment {
    padding: 50px;
  }
  .environmenttext h1 {
    font-size: 64px;
  }
  .environmenttext p {
    font-size: 24px;
  }
  #history-culture {
    padding: 50px;
  }
  #history-culture h1 {
    font-size: 64px;
  }
  #history-culture p {
    font-size: 24px;
  }
  #science {
    padding: 50px;
  }
  .sciencetext h1 {
    font-size: 64px;
  }
  .sciencetext p {
    font-size: 24px;
  }
  .scivids .scinav li img {
    width: 100px;
    transition: 0.5s;
  }
  .scivids .scinav li img:hover {
    width: 150px;
  }
  .travelgrid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .travcard:nth-child(9) {
    display: none;
  }
  .footer img {
    width: 150px;
  }
  .footer p {
    font-size: 12px;
  }
  .footer-links a {
    font-size: 16px;
  }
}
@media screen and (width <= 425px) {
  .homecontent {
    width: 90vw;
    margin: 20vh auto;
    padding: 10px;
  }
  .homecontent h1 {
    margin: 25px 0px;
    font-size: 48px;
  }
  .homecontent p {
    margin: 25px 0px;
    margin-inline: 10px;
    font-size: 16px;
  }
  .homecontent button {
    font-size: 36px;
    margin: 25px 10px;
  }
  .animalscontent {
    padding: 20px;
  }
  .animalscontent .animalstext {
    padding: 0;
  }
  .animalscontent .animalstext h1 {
    font-size: 48px;
  }
  .animalscontent .animalstext p {
    font-size: 16px;
  }
  #environment {
    width: 100vw;
    padding: 20px;
  }
  .environmenttext {
    padding: 0px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .environmenttext h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .environmenttext p {
    font-size: 16px;
  }
  .envarticles img {
    height: 500px;
  }
  .envarticles a {
    font-size: 24px;
    padding: 20px;
  }
  .articletext {
    padding: 20px 0px;
    border-bottom: 10px solid gold;
  }
  .articletext h2 {
    font-size: 21px;
    margin: 10px 0;
  }
  .articletext h1 {
    font-size: 36px;
  }
  #history-culture {
    padding: 20px;
    margin: 50px 0px;
  }
  #history-culture h1 {
    margin: 20px 0;
    font-size: 48px;
  }
  #history-culture p {
    font-size: 16px;
  }
  .historyslider {
    width: 100%;
    height: 400px;
  }
  .hcontainer {
    margin: 50px 0px;
    height: 100%;
  }
  #science {
    padding: 20px;
  }
  .sciencetext {
    margin: 50px 0px;
  }
  .sciencetext h1 {
    font-size: 48px;
  }
  .sciencetext p {
    font-size: 16px;
  }
  .scivids {
    height: 75vh;
  }
  .scivids .scinav li img {
    width: 50px;
  }
  .scivids .scinav li img:hover {
    width: 60px;
  }
  #travel {
    margin: 50px 0px;
    padding: 20px;
  }
  #travel h1 {
    font-size: 48px;
  }
  #travel P {
    font-size: 16px;
  }
  .travcard h3 {
    font-size: 36px;
  }
  .travelgrid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .travelgrid img {
    height: 500px;
  }
  .travcard:nth-child(9) {
    display: none;
  }
  .footer img {
    width: 200px;
  }
  .footer p {
    font-size: 16px;
  }
  .footer-links a {
    font-size: 24px;
  }
}
@media screen and (width <= 375px) {
  .homecontent {
    width: 90vw;
    margin: 20vh auto;
    padding: 10px;
  }
  .homecontent h1 {
    margin: 25px 0px;
    font-size: 36px;
  }
  .homecontent p {
    margin: 25px 0px;
    margin-inline: 10px;
    font-size: 14px;
  }
  .homecontent button {
    font-size: 24px;
    margin: 15px 5px;
  }
  .animalscontent {
    padding: 1ch;
  }
  .animalscontent .animalstext h1 {
    font-size: 36px;
  }
  .animalscontent .animalstext p {
    font-size: 12px;
  }
  #environment {
    padding: 10px;
  }
  .environmenttext {
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .environmenttext h1 {
    font-size: 36px;
    text-align: center;
    border-bottom: 10px solid gold;
    margin-bottom: 20px;
  }
  .environmenttext p {
    font-size: 12px;
    text-align: justify;
  }
  .envarticles img {
    height: 250px;
  }
  .envarticles a {
    font-size: 16px;
    padding: 10px;
  }
  .articletext {
    padding: 10px 0px;
  }
  .articletext h2 {
    font-size: 12px;
  }
  .articletext h1 {
    font-size: 24px;
  }
  #history-culture {
    padding: 10px;
    margin: 25px 0px;
  }
  #history-culture h1 {
    margin: 20px 0;
    font-size: 36px;
  }
  #history-culture p {
    font-size: 12px;
  }
  .historyslider {
    height: 300px;
  }
  .hcontainer {
    margin: 25px 0px;
  }
  #science {
    padding: 10px;
  }
  .sciencetext {
    margin: 25px 0px;
  }
  .sciencetext h1 {
    font-size: 36px;
  }
  .sciencetext p {
    font-size: 12px;
  }
  .scivids {
    height: 50vh;
  }
  .scivids .scinav li img {
    width: 40px;
  }
  .scivids .scinav li img:hover {
    width: 45px;
  }
  #travel {
    margin: 25px 0px;
    padding: 10px;
  }
  #travel h1 {
    font-size: 36px;
  }
  #travel P {
    font-size: 12px;
  }
  .travelgrid img {
    height: 450px;
  }
  .travcard h3 {
    font-size: 36px;
  }
  .footer img {
    width: 150px;
  }
  .footer p {
    font-size: 12px;
  }
  .footer-links a {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */